@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700');
//variable

$main_font: 'Playfair Display', serif;
$secondary_font: 'Roboto', sans-serif;
$third_font: 'IBM Plex Sans', sans-serif;
$four_font: 'PT Sans Narrow', sans-serif;
$main_color: rgb(191,30,46);
$grey_color: rgba(177, 177, 177, 0.404);



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    transition: .2s;
}

.shadow_cloak {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 32;
    background-color: rgba(0, 0, 0, 0.698);
    cursor: pointer;
    transition: .3s;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: block;
}

// first banner style 
.head_banner {
    position: relative;
    width: 100%;
    max-height: 250px;
    height: 100vh;
    background-color: rgb(241,240,240);
    overflow: hidden;
}

.head_banner1 {
    position: relative;
    width: 100%;
    max-height: 250px;
    margin: 50px 0 0 0;
    height: 100vh;
    background-color: rgb(241,240,240);
    overflow: hidden;
}

.inner_banner {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

.inner_banner .ibanner_content {
    display: table-row;
}

.inner_banner .ibanner_content .ibanner_in{
    display: table-cell;
    vertical-align: middle;
}

.inner_banner .ibanner_last{
    display: inline-block;
}



.inner_banner img {
    position: relative;
    margin: auto;
    display: block;
    max-width: 1200px;
    width: 100%;
    height: 180px;
    overflow: hidden;
}

// main_logo style

.main_logo {
    position: relative;
    width: 100%;
    max-height: 170px;
    margin: 0 0 -15px 0;
    height: 100%;
    overflow: hidden;
    background-color: white;
}

.main_logo img {
    display: block;
    position: relative;
    margin: 10px auto;
    max-width: 100%;
    max-height: 150px;
    height: auto;
}

//main_nav style

.main_nav {
    position: relative;
    width: 100%;
    height: 60px;
    z-index: 15;
    overflow: visible;
}

.main_nav_inner {
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 20px 0;
    left: 0;
}

.main_nav_inner .main_nav_content {
    display: table-row;
}

.main_nav_inner .main_nav_content .main_nav_in{
    display: table-cell;
    vertical-align: middle;
}

.main_nav_inner .main_nav_last {
    display: inline-block;
}

.nav_menu .undrop_menu{
    display: inline;
}

.nav_menu a {
    color: black;
    text-decoration: none;
    font-family: $four_font;
    font-size: 1.4em;
    padding: 0 15px;
    transition: .8s;
    position: relative;
    z-index: 3;
    text-transform: uppercase;
    z-index: 15;  
}

.nav_menu a:hover{
    color: black;
    text-decoration: none;
    font-family: $four_font;
    font-size: 1.4em;
    padding: 0 15px;
    transition: .8s;
    position: relative;
    z-index: 3;
    color: $main_color;
}

.nav_menu .dropmenu {
    position: absolute;
    list-style-type: none;
    top: 10px;
    display: none;
    text-align: center;
    transition: .2s;
    font-size: .9em;
    width: 300px;
    height: 135px;
    padding: 20px;
}


.nav_menu li:hover .dropmenu {
    position: absolute;
    list-style-type: none;
    top: 47px;
    display: block;
    text-align: center;
    transition: .2s;
    box-shadow: 1px 1px 2px 1px rgb(177, 177, 177);
    border-radius: 5px;
    font-size: .9em;
    width: 160px;
    height: 140px;
    padding: 15px 0;
    transform: translateX(-10px);
    background-color: white;
    z-index: 15;
    white-space: nowrap;
}


.nav_menu .dropmenu2 {
    position: absolute;
    list-style-type: none;
    top: 10px;
    transform: translateX(40px);
    display: none;
    text-align-last: center;
    transition: .2s;
    font-size: .9em;
    padding: 20px;
}


.nav_menu li:hover .dropmenu2 {
    position: absolute;
    list-style-type: none;
    top: 47px;
    transform: translateX(120px);
    display: block;
    text-align-last: center;
    transition: .2s;
    box-shadow: 1px 1px 2px 1px rgb(177, 177, 177);
    border-radius: 5px;
    font-size: .9em;
    width: 157px;
    height: 195px;
    padding: 15px 0;
    white-space: nowrap;
    background-color: white;
    z-index: 15;
}

.nav_menu .dropmenu3 {
    position: absolute;
    list-style-type: none;
    top: 10px;
    display: none;
    text-align-last: center;
    transition: .2s;
    transform: translateX(245px);
    font-size: .9em;
}


.nav_menu li:hover .dropmenu3 {
    position: absolute;
    list-style-type: none;
    top: 47px;
    display: block;
    text-align-last: center;
    transition: .2s;
    box-shadow: 1px 1px 2px 1px rgb(177, 177, 177);
    border-radius: 5px;
    transform: translateX(266px);
    font-size: .9em;
    width: 126px;
    height: 140px;
    padding: 15px 0;
    background-color: white;
    z-index: 15;
    white-space: nowrap;
}

.nav_menu .dropmenu4 {
    position: absolute;
    list-style-type: none;
    top: 10px;
    display: none;
    transition: .2s;
    font-size: .9em;
}


.nav_menu li:hover .dropmenu4 {
    position: absolute;
    list-style-type: none;
    top: 47px;
    white-space: nowrap;
    display: block;
    text-align-last: center;
    transition: .2s;
    box-shadow: 1px 1px 2px 1px rgb(177, 177, 177);
    border-radius: 5px;
    transform: translateX(405px);
    font-size: .9em;
    width: 120px;
    height: 110px;
    padding: 15px 0;
    background-color: white;
    z-index: 15;
}

.fa-user {
    position: relative;
    float: right;
    right: 60px;
    top: 20px;
    font-size: 1.3em;
    z-index: 1;
    color: $grey_color;
}

.fa-user:hover{
    right: 60px;
    top: 20px;
    color: black;
    transition: .2s;
    cursor: pointer;
}

.fa-user::after{
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 1px;
    height: 100%;
    background-color: $grey_color;
}


.fa-search {
    position: relative;
    float: right;
    right: -20px;
    top: 20px;
    padding: 0;
    color: $main_color;
    padding: 0;
    transition: .2;
    z-index: 1;
}

.fa-search:hover{
    right: -20px;
    top: 20px;
    padding: 0;
    color: rgb(177, 177, 177);
    transition: .2;
    cursor: pointer;
}

.fa-times {
    position: relative;
    float: right;
    right: -15px;
    top: 20px;
    padding: 0;
    color: $main_color;
    padding: 0;
    transition: .3;
    z-index: 1;
    cursor: pointer;
}

.fa-times:hover{
    position: relative;
    right: -15px;
    top: 20px;
    padding: 0;
    color: $grey_color;
    padding: 0;
    transition: .3;
    z-index: 1;
    cursor: pointer;
}


.alt_nav_main_logo i {
    font-size: 1.7em;
}


// alt_nav styles

.alt_nav {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: black;
    z-index: 20;
    transition: .3s;
}

.alt_nav_main_logo {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

.alt_nav img {
    position: relative;
    width: 100px;
    height: auto;
    top: 14px;
    left: 8px;
    cursor: pointer;
}

.alt_nav a{
    color: white;
    //padding: 0px 15px 0 15px;
}

.alt_nav .dropmenu a{
    color: black;
}

.alt_nav .dropmenu2 a{
    color: black;
}
.alt_nav .dropmenu3 a{
    color: black;
}
.alt_nav .dropmenu4 a{
    color: black;
}

.alt_nav .dropmenu a:hover{
    color: $main_color;
}

.alt_nav .dropmenu2 a:hover{
    color: $main_color;
}
.alt_nav .dropmenu3 a:hover{
    color: $main_color;
}
.alt_nav .dropmenu4 a:hover{
    color: $main_color;
}

.alt_nav li:hover .dropmenu {
    position: absolute;
    list-style-type: none;
    top: 47px;
    display: block;
    text-align: center;
    transition: .2s;
    box-shadow: 1px 1px 2px 1px rgb(177, 177, 177);
    border-radius: 5px;
    font-size: .9em;
    width: 160px;
    height: 140px;
    padding: 15px 0;
    transform: translateX(-10px);
    background-color: white;
    z-index: 15;
}


.alt_nav .dropmenu2 {
    position: absolute;
    list-style-type: none;
    top: 10px;
    transform: translateX(40px);
    display: none;
    text-align-last: center;
    transition: .2s;
    font-size: .9em;
    padding: 20px;
}


.alt_nav li:hover .dropmenu2 {
    position: absolute;
    list-style-type: none;
    top: 47px;
    transform: translateX(119px);
    display: block;
    text-align-last: center;
    transition: .2s;
    box-shadow: 1px 1px 2px 1px rgb(177, 177, 177);
    border-radius: 5px;
    font-size: .9em;
    width: 160px;
    height: 195px;
    padding: 15px 0;
    background-color: white;
    z-index: 15;
}




.alt_nav li:hover .dropmenu3 {
    position: absolute;
    list-style-type: none;
    top: 47px;
    display: block;
    text-align-last: center;
    transition: .2s;
    box-shadow: 1px 1px 2px 1px rgb(177, 177, 177);
    border-radius: 5px;
    transform: translateX(264px);
    font-size: .9em;
    width: 130px;
    height: 140px;
    padding: 15px 0;
    background-color: white;
    z-index: 15;
}



.alt_nav li:hover .dropmenu4 {
    position: absolute;
    list-style-type: none;
    top: 47px;
    display: block;
    text-align-last: center;
    transition: .2s;
    box-shadow: 1px 1px 2px 1px rgb(177, 177, 177);
    border-radius: 5px;
    transform: translateX(407px);
    font-size: .9em;
    width: 120px;
    height: 110px;
    padding: 15px 0;
    background-color: white;
    z-index: 15;
}

//mobile_menu style

.mobile_menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    z-index: 20;
    box-shadow: 1px 1px 1px 1px $grey_color;
}

.mobile_menu img{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 80px;
}

.mobile_menu .fa-search {
    position: absolute;
    top: 17px;
    right: 17px;
    width: 20px;
}

.mobile_menu .fa-bars {
    position: absolute;
    top: 17px;
    left: 17px;
    z-index: 1;
    cursor: pointer;
    transition: .2s;
    color: white;
}

.mobile_menu .fa-bars:hover {
    position: absolute;
    top: 17px;
    left: 17px;
    z-index: 1;
    color: $main_color;
    cursor: pointer;
    transition: .2s;
}

//search page style

.search_page {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: -100vh;
    left: 0;
    background-color: rgb(226, 226, 226);
    z-index: 17;
    transition: .2s;
}

.search_page input {
    width: 80%;
    height: 50px;
    display: block;
    position: relative;
    margin: 100px auto 0 auto;
    border: none;
    font-size: 1.6em;
    text-align: center;
}


.search_page p{
    font-family: $four_font;
    text-align: center;
    padding: 20px 0;
}

.search_page span {
    font-family: $four_font;
    text-align: center;
    padding: 5px 0;
    display: block;
    color: $main_color;
}

::-webkit-input-placeholder { 
    color: black;
    text-align: center; 
    font-family: $secondary_font;
    padding: 0 ;
}
::-moz-placeholder          { 
    color: black;
    text-align: center; 
    font-family: $secondary_font;
    padding: 0 ;
} 
:-moz-placeholder           { 
    color: black;
    text-align: center; 
    font-family: $secondary_font;
    padding: 0 ;
} 
:-ms-input-placeholder      { 
    color: black;
    text-align: center; 
    font-family: $secondary_font;
    padding: 0 ;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.nav_hover{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 8;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.603);
    overflow: hidden;
    transition: .3s;
}

// left menu

.left_menu {
    position: fixed;
    width: 280px;
    top: 0;
    right: -300px;
    height: 100vh;
    background-color: rgb(6, 32, 54);
    z-index: 35;
    transition: .2s;
}

.inner_left_menu{
    width: 100%;
    height: 100%;
    max-width: 250px;
    overflow: hidden;
    position: relative;
    display: block;
    margin: 0 auto;
}

.inner_left_menu a{
    text-decoration: none;
    color: white;
    font-family: $third_font;
}

.inner_left_menu a:hover{
    text-decoration: none;
    color: $main_color;
    font-family: $third_font;
}

.inner_left_menu p{
    position: relative;
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 8px;
    background-color: rgb(177, 177, 177);
    border-radius: 25px;
    color: white;
}
.inner_left_menu img{
    max-width: 100%;
    height: 37px;
    display: block;
    margin: 8px auto 0 auto;
}

.inner_left_menu .fa-plus{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5em;
    color: $main_color;
    transform: rotate(45deg);
    cursor: pointer;
}

.left_menu_list ul li{
    text-align: center;
    padding: 10px;
    font-family: $third_font;
    border-bottom: 1px solid $grey_color;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.left_menu_list ul li:first-child{
    text-align: center;
    padding: 10px;
    font-family: $third_font;
    border-top: 1px solid $grey_color;
    color: white;
    text-transform: uppercase;
}

.social_links_left_menu {
    position: absolute;
    bottom: 0;
}

.social_links_left_menu ul li {
    position: relative;
    display: inline;
    padding: 15px;
    bottom: 20px;
    font-size: 2em;
    z-index: 2;
}

.social_links_left_menu p{
    border-radius: 0px;
    color: $main_color;
    font-family: $third_font;
    font-size: 1.3em;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px 0 20px 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.left_menu_text {
    width: 100%;
    height: 100%;
    position: relative;
}
// main_section style

.main_section {
    width: 100%;
    height: 100%;
    padding: 10px 0 0 0;
    z-index: 1;
    position: relative;
    background-color: rgb(255, 255, 255);
}


.main_title::before {
    content: "";
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 2px;
    background-color: rgb(27, 27, 27);
}

.main_title::after {
    content: "";
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 3px;
    background-color: rgb(27, 27, 27);
    transform: translateY(-102px);
}

.main_title h2{
    text-align: center;
    padding: 20px;
    font-family: $main_font;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 3em;
    transition: .2s;
}


//bootstrap padding disable
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left: 0;
    border: none;
    margin: 0;
}

//slider_swiper style

.swiper-container {
    position: relative;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}


.fa-chevron-circle-left {
    color: white;
}

.fa-chevron-circle-right {
    color: white;
}
.main_fixed_container{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
    border: none;
}
.fixed_container {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

.ban_fix_container {
    width: calc(100% - 300px);
    height: 100%;
    max-height: 520px;
    background-color: rgb(255, 255, 255);
    position: relative;
    float: left;
}

.ban_container {
    padding: 0 0 0 0px;
    position: relative;
    z-index: 1;
    display: inline; //important!
}

.ban_container img{
    padding: 0;
    position: relative;
    left: 0px;
    z-index: 1;
    display: inline; //important!
}

.container_left{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

.container_left img {
    max-width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
    display: block;
}



.pic_inner_container {
    position: relative;
    bottom: 40px;
    width: 90%;
    min-height: 110px;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: $main_font;
    padding: 10px 0 0 0;
}

.pic_inner_container p{
    text-transform: uppercase;
    font-size: .9em;
    padding: 0;
    font-family: $secondary_font;
    color: $main_color;
}

.pic_inner_container h3{
    font-weight: normal;
    padding: 2px 0;
    font-family: $secondary_font;
    font-size: 1.5em;
}

.pic_inner_container span{
    padding: 0;
    font-size: .7em;
    font-family: $third_font;
    font-weight: normal;
}

.pic_inner_container h6{
    text-transform: uppercase;
    padding: 0;
    font-size: .6em;
    font-family: $third_font;
    font-weight: normal;
}

// min_pic container

.min_pic_cont {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: block;
    padding: 0px 6px 0 6px;
}

.min_pic_cont::after {
    content: "";
    position: absolute;
    width: calc(100% - 12px);
    height: 1px;
    background-color: $grey_color;
    transform: translateY(6px);
}

.min_pic_cont img{
    display: block;
    max-width: 100%;
    height: auto;
    padding: 0;
}

.min_pic_cont p {
    text-transform: uppercase;
    font-size: .9em;
    padding-top: 5px;
    font-family: $secondary_font;
    color: $main_color;
}


.min_pic_cont span {
    font-size: .8em;
    font-family: $third_font;
    font-weight: normal;
    padding-top: 5px;
    display: block;
    line-height: 1.6;
}

.min_pic_cont h6 {
    text-transform: uppercase;
    padding: 0;
    font-size: .6em;
    font-family: $third_font;
    font-weight: normal;
    padding-top: 4px;
}

// banners section main

// second section style
.second_sect {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.568);
    z-index: 1;
    position: relative;
    margin: 20px 0 0 0;
}

.second_sect_fixed_cont{
    width: 100%;
    max-width: 1200px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.second_ld_inner{
    width: 100%;
    height: 91%;
    // background-image: url('../img/girl2.jpg');
    // background-position: center;
    // background-size: cover;
    transition: .2s;
    z-index: 1;
    position: relative;
    display: block;
}

.second_ld_inner img{
    max-width: 100%;
    height: auto;
    display: block;
}


.second_ld_text{
    position: relative;
    display: block;
    margin: -40px auto 0 auto;
    background-color: white;
    width: 80%;
    height: 80px;
    z-index: 1;
}

.second_ld_text p{
    font-family: $main_font;
    font-size: 1.5em;
    padding-top: 7px;
    text-align: center;
}

//third section style

.third_section {
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    margin: 50px 0 0 0;
}

//four section style

.four_section {
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    margin: 0;
}

//five section style

.five_section {
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    margin: 0;
}
//six section style
.six_section {
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    margin: 0;
}

// infograf menu

.info_grf {
    width: 100%;
    max-width: 1200px;
    display: block;
    margin: 50px auto 0 auto;
    height: 100px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
}

.info_grf_list{
    background-color: rgb(255, 255, 255);
}

.info_grf_list a{
    color: black;
    text-decoration: none;
    transition: .3s;
}

.info_grf_list a:hover{
    color: $main_color;
    text-decoration: none;
    transition: .3s;
}

.info_grf_list ul li{
    display: inline;
    position: relative;
    font-family: $four_font;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 38px;
    line-height: 4.2;
}

.social_links a {
    color: black;
    transition: .3s;
}

.social_links a:hover{
    color: $grey_color;
    transition: .3s;
}

.social_links ul li{
    list-style-type: none;
    display: inline;
    padding: 4px;
}

.social_links .fa-facebook-square {
    font-size: 2em;
    line-height: 3;
}

.social_links .fa-twitter-square {
    font-size: 2em;
}

.social_links .fa-google-plus-square {
    font-size: 2em;
}

.social_links .fa-rss-square {
    font-size: 2em;
}


//footer style


.footer{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.sizer_foot{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    color: white;
}


.foot_inner_img img{
    position: relative;
    width: 255px;
    height: 142px;
    left: 0;
    margin: 35px 0;
}

.foot_inner_img p{
    font-family: $third_font;
}

.foot_inner_text p{
    position: relative;
    display: block;
    padding: 70px 0 0 5px;
    font-size: 1.2em;
    font-family: $third_font;
    text-transform: uppercase;
}

.foot_inner_text span{
    font-size: .8em;
    position: relative;
    display: block;
    font-weight: normal;
    padding: 3px 5px;
    font-family: $third_font;
}



.test {
    margin: 10px;
    padding: 0;
    outline: none;
    overflow: hidden;
}
.test img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}



//state style

.state_inner {
    width: 100%;
    height: 100%;
    max-height: 420px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.state_inner img {
    max-width: 100%;
    height: auto;
    padding: 0 5px 0 0;
}

.ban_container_1{
    width: 300px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.ban_conteiner_1_in {
    display: inline;
}

.state_inner p{
    font-family: $four_font;
    font-size: 2em;
    text-align: justify;
}

.state_inner span{
    font-family: $third_font;
    font-size: 1em;
    text-align: justify;
}

.state_inner h6{
    font-family: $third_font;
    font-size: 1em;
}
// media query

@media (max-width: 1200px){
    .alt_nav_main_logo {
        width: 100%;
        position: relative;
        padding: 0;
        float: left;
        margin: 0 auto;
    }

    .main_title::before {
        content: "";
        position: relative;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 2px;
        background-color: rgb(27, 27, 27);
    }
    
    .main_title::after {
        content: "";
        position: relative;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 3px;
        background-color: rgb(27, 27, 27);
        transform: translateY(-102px);
    }
    .ban_fix_container {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.034);
        position: relative;
    }

    .min_pic_cont {
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
        margin: 0 auto;
        padding: 0 0 0 10px;
    }
    
    .min_pic_cont::after {
        content: "";
        position: absolute;
        width: 100%;
        max-width: 368px;
        height: 1px;
        left: 10px;
        background-color: $grey_color;
        transform: translateY(8px);
    }
    
    .min_pic_cont img{
        display: block;
        max-width: 100%;
        height: auto;

    }
    .ban_fix_container {
        width: 100%;
        height: 100%;
        max-height: 560px;
        background-color: rgb(255, 255, 255);
        position: relative;
        float: left;
    }
    
        div.ban_container {
            width: 300px;
            padding: 0;
            max-height: 602px;
            height: 100%;
            position: static;
            background-color: rgb(255, 255, 255);
            top: 0;
            float: none;
            display: block;
            margin: 0 auto;
        }

        .second_sect {
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.568);
            z-index: 1;
            position: relative;
            margin: -120px 0 0 0;
        }

        .main_fixed_container{
            width: 100%;
            min-height: 1200px;
            height: 100%;
            position: relative;
            display: block;
            margin: 0 auto;
            padding: 0;
            border: none;
        }
        .fixed_container {
            width: 100%;
            height: 100%;
            position: relative;
            padding: 0;
            margin: 0;
        }
        
        .ban_fix_container {
            width: 100%;
            height: 100%;
            background-color: rgb(255, 255, 255);
            position: relative;
            float: left;
        }
}

@media (max-width: 1125px){
    // .alt_nav_main_logo {
    //     width: 100%;
    //     position: relative;
    //     padding: 20px 0;
    //     float: left;
    //     margin: 0 auto;
    // }

    .main_title::before {
        content: "";
        position: relative;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 2px;
        background-color: rgb(27, 27, 27);
    }
    
    .main_title::after {
        content: "";
        position: relative;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 3px;
        background-color: rgb(27, 27, 27);
        transform: translateY(-102px);
    }
    
}

@media (max-width: 1025px){
    // .alt_nav_main_logo img {
    //     width: 100%;
    //     position: relative;
    //     padding: 0;
    //     float: left;
    //     margin: 0 auto;
    //     transition: .3s;
    // }

    .main_title::before {
        content: "";
        position: relative;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 2px;
        background-color: rgb(27, 27, 27);
    }
    
    .main_title::after {
        content: "";
        position: relative;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 3px;
        background-color: rgb(27, 27, 27);
        transform: translateY(-102px);
    }
    .alt_nav img {
        position: relative;
        width: 100px;
        height: auto;
        top: -3px;
        left: 0;
        cursor: pointer;
    }

    .alt_nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: black;
        z-index: 20;
        transition: .3s;
        display: none;
    }

    .main_nav {
        display: none;
    }

    .mobile_menu {
        display: block;
        position: fixed;
        width: 100%;
        height: 50px;
        background-color: rgb(0, 0, 0);
        top: 0;
        left: 0;
        z-index: 20;
        box-shadow: 1px 1px 1px 1px $grey_color;
    }
    
    .mobile_menu img{
        position: relative;
        display: block;
        margin: 10px auto;
    }
    
    .mobile_menu .fa-search {
        position: absolute;
        top: 17px;
        right: 17px;
        width: 20px;
    }
    
    .mobile_menu .fa-bars {
        position: absolute;
        top: 17px;
        left: 17px;
        z-index: 1;
        cursor: pointer;
        transition: .2s;
        color: white;
    }
    
    .mobile_menu .fa-bars:hover {
        position: absolute;
        top: 17px;
        left: 17px;
        z-index: 1;
        color: $main_color;
        cursor: pointer;
        transition: .2s;
    }

    .fa-times {
        position: absolute;
        right: 23px;
        top: 17px;
        padding: 0;
        color: $main_color;
        padding: 0;
        transition: .3;
        z-index: 1;
        cursor: pointer;
    }
    
    .fa-times:hover{
        position: absolute;
        right: 23px;
        top: 17px;
        padding: 0;
        color: $grey_color;
        padding: 0;
        transition: .3;
        z-index: 1;
        cursor: pointer;
    }

}

@media (max-width: 991px){
    .min_pic_cont {
        max-width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
        display: block;
        margin: 5px auto;
    }
    
    .min_pic_cont::after {
        content: "";
        position: absolute;
        width: 100%;
        max-width: 532px;
        height: 1px;
        left: 99px;
        background-color: $grey_color;
        transform: translateY(8px);
    }
    
    .min_pic_cont img{
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
    
    .min_pic_cont p {
        text-transform: uppercase;
        font-size: 1em;
        padding: 10px 0 0 0;
        text-align: center;
        font-family: $secondary_font;
        color: $main_color;
    }
    
    
    .min_pic_cont span {
        font-size: .7em;
        font-family: $third_font;
        font-weight: normal;
        padding: 5px 0 0 0;
        text-align: center;
        display: block;
        line-height: 1.6;
    }
    
    .min_pic_cont h6 {
        text-transform: uppercase;
        padding: 0;
        text-align: center;
        font-size: .6em;
        font-family: $third_font;
        font-weight: normal;
    }

    .pic_inner_container {
        position: relative;
        bottom: 40px;
        width: 94%;
        display: block;
        min-height: 50px;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        font-family: $main_font;
        padding: 10px 0 0 0;
        text-align: center;
    }
    
    .pic_inner_container p{
        text-transform: uppercase;
        font-size: .9em;
        padding: 0;
        font-family: $secondary_font;
        color: $main_color;
    }
    
    .pic_inner_container h3{
        font-weight: normal;
        padding: 2px 0;
        font-family: $secondary_font;
        font-size: 1.5em;
    }
    
    .pic_inner_container span{
        padding: 0;
        font-size: .7em;
        font-family: $third_font;
        font-weight: normal;
    }
    
    .pic_inner_container h6{
        text-transform: uppercase;
        padding: 0;
        font-size: .6em;
        font-family: $third_font;
        font-weight: normal;
    }

    .ban_fix_container {
        width: 100%;
        height: 100%;
        max-height: 1560px;
        background-color: rgb(255, 255, 255);
        position: relative;
        float: none;
    }
    
        div.ban_container {
            width: 300px;
            padding: 0;
            max-height: 602px;
            height: 100%;
            position: static;
            background-color: rgb(255, 255, 255);
            top: 0;
            float: none;
            display: block;
            margin: 0 auto;
        }

        .second_sect {
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.568);
            z-index: 1;
            position: relative;
            margin: 30px 0 0 0;
        }
}


@media (max-width: 960px){
    .head_banner {
        position: relative;
        width: 100%;
        max-height: 250px;
        height: 100%;
        background-color: rgb(241,240,240);
        overflow: hidden;
        display: none;
    }

    .head_banner1 {
        position: relative;
        width: 100%;
        max-height: 250px;
        height: 100%;
        background-color: rgb(241,240,240);
        overflow: hidden;
        display: none;
    }
   
    
}


@media (max-width: 768px){
    .ban_fix_container {
        width: 100%;
        height: 100%;
        max-height: 1560px;
        background-color: rgb(255, 255, 255);
        position: relative;
        float: none;
    }
    
        div.ban_container {
            width: 300px;
            padding: 0;
            max-height: 602px;
            height: 100%;
            position: static;
            background-color: rgb(255, 255, 255);
            top: 0;
            float: none;
            display: block;
            margin: 0 auto;
        }

        .second_sect {
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.568);
            z-index: 1;
            position: relative;
            margin: 0px 0 0 0;
        }

    .main_fixed_container{
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
        margin: 0 auto;
        padding: 0;
        border: none;
    }
    .fixed_container {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 0;
        margin: 0;
    }
    
    .ban_fix_container {
        width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
        position: relative;
        float: none;
    }

    .container_left{
        width: 100%;
        height: 100%;
        position: relative;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow: visible;
    }
    
    .container_left img {
        max-width: 100%;
        height: auto;
        position: relative;
        display: block;
        margin: 0 auto;
    }
    
    
    .second_sect {
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.568);
                z-index: 1;
                position: relative;
                margin: 80px 0 0 0;
            }
        
            .third_section {
                width: 100%;
                height: 100%;
                background-color: white;
                z-index: 1;
                margin: 50px 0 0 0;
            }
            
            //four section style
            
            .four_section {
                width: 100%;
                height: 100%;
                background-color: rgb(255, 255, 255);
                z-index: 1;
                margin: 110px 0 0 0;
            }
            
            //five section style
            
            .five_section {
                width: 100%;
                height: 100%;
                background-color: white;
                z-index: 1;
                margin: 110px 0 0 0;
            }

            
        
            .six_section {
                width: 100%;
                height: 100%;
                background-color: white;
                z-index: 1;
                margin: 110px 0 0 0;
            }

            .min_pic_cont {
                width: 100%;
                height: 100%;
                overflow: hidden;
                padding: 0;
            }
            
            .min_pic_cont::after {
                content: "";
                position: absolute;
                width: 100%;
                max-width: calc(100% - 8px);
                height: 1px;
                left: 4px;
                background-color: $grey_color;
                transform: translateY(8px);
            }
            
            .min_pic_cont img{
                max-width: 100%;
                height: auto;
            }
            
            .min_pic_cont p {
                text-transform: uppercase;
                font-size: 1em;
                padding: 10px 0 0 0px;
                font-family: $secondary_font;
                color: $main_color;
            }
            
            
            .min_pic_cont span {
                font-size: .7em;
                font-family: $third_font;
                font-weight: normal;
                padding: 5px 0 0 0px;
                display: block;
                line-height: 1.6;
            }
            
            .min_pic_cont h6 {
                text-transform: uppercase;
                padding: 0;
                font-size: .6em;
                font-family: $third_font;
                font-weight: normal;
                padding: 0 0 0 0px;
            }

            .pic_inner_container {
                position: relative;
                bottom: 30px;
                width: 90%;
                height: 110px;
                margin: 0 auto;
                display: block;
                background-color: rgb(255, 255, 255);
                font-family: $main_font;
                padding: 10px 0 0 0;
            }
            
            .pic_inner_container p{
                text-transform: uppercase;
                font-size: .9em;
                padding: 0;
                font-family: $secondary_font;
                color: $main_color;
            }
            
            .pic_inner_container h3{
                font-weight: normal;
                padding: 2px 0;
                font-family: $secondary_font;
                font-size: 1.5em;
            }
            
            .pic_inner_container span{
                padding: 0;
                font-size: .7em;
                font-family: $third_font;
                font-weight: normal;
            }
            
            .pic_inner_container h6{
                text-transform: uppercase;
                padding: 0;
                font-size: .6em;
                font-family: $third_font;
                font-weight: normal;
            }

            .ban_fix_container {
        width: 100%;
        height: 100%;
        max-height: 1560px;
        background-color: rgb(255, 255, 255);
        position: relative;
        float: none;
    }
    
        div.ban_container {
            width: 300px;
            padding: 0;
            max-height: 602px;
            height: 100%;
            position: static;
            background-color: rgb(255, 255, 255);
            top: 0;
            float: none;
            display: block;
            margin: 30px auto 0 auto;
        }

        .second_sect {
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.568);
            z-index: 1;
            position: relative;
            margin: 30px 0 0 0;
        }

        .foot_inner_img img{
            position: relative;
            width: 255px;
            height: 142px;
            display: block;
            margin: 35px auto;
        }
        
        .foot_inner_img p{
            font-family: $third_font;
            text-align: center;
        }

        .foot_inner_text p{
            position: relative;
            display: block;
            padding: 70px 0 0 5px;
            font-size: 1.2em;
            font-family: $third_font;
            text-transform: uppercase;
            text-align: center;
        }
        
        .foot_inner_text span{
            font-size: .8em;
            position: relative;
            display: block;
            font-weight: normal;
            padding: 3px 5px;
            font-family: $third_font;
            text-align: center;
        }
}

@media (max-width: 575px){
    .min_pic_cont {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        display: block;
        margin: 0 auto 0px auto;
    }
    
    .min_pic_cont::after {
        content: "";
        position: absolute;
        width: calc(100% - 44px);
        height: 1px;
        left: 22px;
        background-color: $grey_color;
        transform: translateY(4px);
    }
    
    .min_pic_cont img{
        display: block;
        max-width: 100%;
        height: auto;
    }

    .second_ld_text p{
        font-family: $main_font;
        font-size: 1.3768em;
        padding-top: 7px;
        text-align: center;
    }
    
}


@media (max-width: 500px){

    .second_sect {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.568);
        z-index: 1;
        position: relative;
        margin: 30px 0 0 0;
    }

   

    // .min_pic_cont {
    //     width: 100%;
    //     height: 100%;
    //     overflow: hidden;
    //     position: relative;
    //     display: block;
    //     margin: 0 auto;
    // }
}

@media (max-width: 470px){
    .container_left{
        width: 100%;
        height: 100%;
        position: relative;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .container_left img {
        max-width: 100%;
        height: auto;
        position: relative;
        display: block;
    }

    // .min_pic_cont {
    //     width: 100%;
    //     height: 100%;
    //     max-height: 295px;
    //     overflow: hidden;
    //     position: relative;
    //     display: block;
    //     margin: 0 auto;
    // }
    
    // .min_pic_cont::after {
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     max-width: 490px;
    //     height: 1px;
    //     left: 5px;
    //     background-color: $grey_color;
    //     transform: translateY(8px);
    // }
    
    // .min_pic_cont img{
    //     display: block;
    //     margin: 0 auto;
    //     max-width: 100%;
    //     min-width: 0px;
    //     height: auto;
    //     padding: 0 ;
    // }

    .pic_inner_container {
        position: relative;
        bottom: 30px;
        width: 90%;
        min-height: 70px;
        margin: 0 auto;
        display: block;
        background-color: rgb(255, 255, 255);
        font-family: $main_font;
        padding: 10px 0 0 0;
    }
}


@media (max-width: 430px){
    .container_left{
        width: 100%;
        height: 100%;
        position: relative;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .container_left img {
        max-width: 100%;
        height: auto;
        position: relative;
        display: block;
    }

    .pic_inner_container {
        position: relative;
        bottom: 30px;
        display: block;
        width: 90%;
        min-height: 0;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        font-family: $main_font;
        padding: 10px 0 0 10px;
    }

    // .min_pic_cont {
    //     width: 100%;
    //     height: 100%;
    //     overflow: hidden;
    //     position: relative;
    //     transform: translateX(0px);
    //     display: block;
    //     margin: 0 auto;
    // }
    
    // .min_pic_cont::after {
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     max-width: 470px;
    //     height: 1px;
    //     left: 5px;
    //     background-color: $grey_color;
    //     transform: translateY(8px);
    // }
    
    // .min_pic_cont img{
    //     display: block;
    //     margin: 0 auto;
    //     max-width: 100%;
    //     min-width: 0px;
    //     height: auto;
    //     padding: 0 ;
    // }
}

@media (max-width: 380px){
    .container_left{
        width: 100%;
        height: 100%;
        position: relative;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .container_left img {
        max-width: 100%;
        height: auto;
        position: relative;
        display: block;
    }

    .pic_inner_container {
        position: relative;
        display: block;
        bottom: 30px;
        width: 90%;
        min-height: 80px;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        font-family: $main_font;
        padding: 10px 0 0 10px;
    }

    // .min_pic_cont {
    //     width: 100%;
    //     height: 100%;
    //     max-height: 265px;
    //     overflow: hidden;
    //     position: relative;
    //     transform: translateX(0px);
    //     display: block;
    //     margin: 0 auto;
    // }
    
    // .min_pic_cont::after {
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     max-width: 460px;
    //     height: 1px;
    //     left: 5px;
    //     background-color: $grey_color;
    //     transform: translateY(8px);
    // }
    
    // .min_pic_cont img{
    //     display: block;
    //     margin: 0 auto;
    //     max-width: 100%;
    //     min-width: 0px;
    //     height: auto;
    //     padding: 0 ;
    // }
    // div.swiper-container{
    //     height: 340px;
    // }

    .five_section .main_title h2{
        text-align: center;
        padding: 20px;
        font-family: $main_font;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 2.5em;
        transition: .2s;
    }

    .third_section .main_title h2{
        text-align: center;
        padding: 20px;
        font-family: $main_font;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 2.5em;
        transition: .2s;
    }

    .four_section .main_title h2{
        text-align: center;
        padding: 20px;
        font-family: $main_font;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 2.5em;
        transition: .2s;
    }

    .six_section .main_title h2{
        text-align: center;
        padding: 20px;
        font-family: $main_font;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 2.5em;
        transition: .2s;
    }


}

@media (max-width: 525px){

    .min_pic_cont{
        position: relative;
        max-width: 100%;
        margin: 10px 0;
    }
    .min_pic_cont img{
        position: relative;
        max-width: 100%;
        max-height: 310px;
        height: auto;
    }
}